__pycache__/
*.pyc
*.pyo
*.pyd
*.app
build/
dist/
*.spec
.Python
.env
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.vscode/
.idea/
.DS_Store
.codex
*.log
config.ini
.setup_complete
