    __pycache__/
    *.pyc
    *.pyo
    *.pyd
    *.app
    .Python
    env/
    venv/
    pip-log.txt
    pip-delete-this-directory.txt
    .tox/
    .coverage
    .pytest_cache/
    htmlcov/
    .mypy_cache/
    .vscode/
    .DS_Store
