__pycache__/
*.pyc
*.pyo
*.pyd
*.app
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.vscode/
.idea/
.DS_Store
*.log
config.ini
.setup_complete
